@charset "UTF-8";
/* CSS Document */
.overflow{ 
overflow-x: hidden;
}

*{ 
margin: 0; 
padding: 0; 
font-family: "Roboto", sans-serif; 
letter-spacing: 1px; 
}

h3{ 
	font-size: 20pt; 
	font-weight: 500; 
}

h5{ 
	font-size: 16pt; 
	font-weight: 600;
}
h6{ 
	font-weight: 900; 
	font-size: 25pt;
	letter-spacing: 3px; 
}
p{ 
	line-height: 1.3em; 
	font-size: 14pt; 
}

/*---header contact information------------*/ 
.header-contact{ 
	background-color: rgba(12,12,12,1.00); 
	padding: 8px 0; 
	display: flex; 
	justify-content:space-around; 
	
}
.header-contact-flex{ 
	position: relative; 
}
.header-contact-flex img{ 
	position: absolute; 
	left: -25px; 
}
.header-contact a{
	color: white; 
	text-decoration: none; 
	font-weight: 100; 
}

/*hero section heading--------*/ 
.hero-section{ 
	padding: 50px 0;
}
.hero-heading h2{ 
	color: rgba(110,33,22,1.00); 
	font-weight: 900;
	text-align: center; 
}
.hero-awards{ 
	display: flex; 
	justify-content: center; 
	flex-wrap: wrap; 
}
.hero-awards img{ 
	display: block; 
	margin: 0 10px 0 10px; 
}
.hero-awards img:nth-child(1){ 
	position: relative; 
	top: 10px; 
}
.hero-button{ 
	display: flex; 
	justify-content:center; 
	margin: 10px 0; 
	flex-wrap: wrap; 
	
}

.hero-button a{ 
	margin: 10px 20px; 
	text-decoration: none; 
	color: white; 
	padding: 10px 20px; 
	border-radius: 3px; 
}
.hero-button a:nth-child(1){ 
	background-color: rgba(75,218,100,1.00);
	}

.hero-button a:nth-child(2){ 
	background-color: rgba(252,186,27,1.00); 
}
.hero-button a:nth-child(1):hover{ 
	background-color: rgba(13,223,50,1.00); 
}
.hero-button a:nth-child(2):hover{ 
	background-color:rgba(254,179,0,1.00); 
}
/*hero image------------*/ 
.hero-image{ 
	height: 80vh; 
	position: relative; 
	width: 80%; 
	min-width: 350px; 
	margin: 0 auto; 
	box-shadow: 20px 20px 3px gray; 
}

.hero-overlay{ 
	background-color: rgba(0,0,0,0.5); 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}

.hero-text{ 
	position: absolute; 
	top: 50%;
	left: 50%; 
	transform: translate(-50%, -50%); 
	width: 100%; 
}
.hero-text h2{ 
	color: white; 
	width: 70%;
	 max-width: 700px; 
	min-width: 320px;
	font-weight: 100; 
	font-size: 25pt;  
	margin: 0 auto;
}
/*navbar------------------------*/ 
.desktop-navbar{
	display:flex;
	z-index: 2;
	top: 0; 
	background-color:rgba(110,33,22,1.00); 
	
}

.desktop-navbar img{ 
	object-fit: cover; 
}

.desktop-navbar-logo{ 
margin: 0 0 0 70px; 
}

.navbar { 
	margin: 0 0 0 20px; 
	width: 800px; 
	padding-top: 0;	
}

.navbar li{ 
display: inline-block; 
margin: 0 20px;
padding-top: 30px;
position: relative;

}

.navbar a{ 
	text-decoration: none; 
	color: white; 
	letter-spacing: 1px; 
}
.navbar a:hover{ 
	color: rgba(254,192,0,1.00);  
}
/*mobile-navbar-------*/ 
.mobile-navbar{ 
	position: fixed; 
	z-index: 10; 
	width: 100%;
	top: 0; 
	display: none; 
}
.mobile-navbar-stripe{
	background-color: white; 
}
.hamburger-menu{ 
	padding: 10px 0 8px 12px; 
}

.mobile-navbar-stripe a:nth-child(2){ 
	position: absolute; 
	top: 0; 
	left: 50%; 
	transform: translateX(-50%); 
	
}

.mobile-navbar-stripe a:nth-child(3){ 
	position: absolute; 
	top: 0; 
	right: 0; 
	padding: 12px 10px 0 0; 
}

.menu-list{ 
	background-color: white; 
	height: 100vh; 
	display: none; 
}
.menu-list .close-icon{ 
	padding: 10px 0 8px 12px;
}
.menu-list ul li a{ 
	font-size: 12pt; 
	width: 100%; 
	margin:10px 0 10px 20px; 
	text-decoration: none; 
	font-family:"Roboto", sans-serif; 
	color: rgba(120,120,120,1.00); 
	display: block; 
	border-bottom: solid 0.1em rgba(120,120,120,1.00);;
	padding: 0 0 10px 0; 
}

.menu-list a:hover { 
	color: rgba(252,186,27,1.00);
}


/*

.menu-section{ 
	display: flex; 
	flex-wrap: wrap; 
	
}

.menu-deal{ 
	width: 50%; 
	position: relative; 
}
.menu-deal h6{ 
	position: absolute; 
	top: 120px; 
	left: 120px; 
	color: white; 
}
.menu-deal h6::before{ 
	content: url("photos/menu-deal-svg.png"); 
	position: absolute; 
	top: -65px; 
}
.menu-list{ 
	width: 50%; 
	background-color: rgba(243,86,89,1.00); 
	display: flex; 
	justify-content: center; 
	align-items: center; 
}

.menu-text{ 
	width: 70%; 
}

.menu-list h3{ 
	color: rgba(252,186,27,1.00); 
	border-bottom: solid 3px white; 
	width: 100%; 
	padding: 0 0 7px 0; 
	margin-bottom: 30px; 
}

.menu-list h4{ 
	color: white; 
	font-weight: 500; 
	display: inline-block; 
}
.menu-list p{ 
	color: rgba(252,186,27,1.00); 
	font-size: 9pt; 
	margin-bottom: 15px; 
}

.underline1{ 
		display: inline-block; 
		border-bottom: dotted 3px white; 
		width: 32%;
}
.underline2{ 
	display: inline-block; 
		border-bottom: dotted 3px white; 
		width: 25%; 
}
.underline3 { 
	display: inline-block; 
		border-bottom: dotted 3px white; 
		width: 59%; 
}
.underline4{ 
display: inline-block; 
		border-bottom: dotted 3px white; 
		width: 59%; 
}
.underline5{ 
	display: inline-block; 
		border-bottom: dotted 3px white; 
		width: 59%; 
}
*/ 
/*opening hours-------------*/ 
.opening-hours-section{ 
	position: relative; 
	z-index: -1; 
	height: 140vh; 
}
.hours-overlay{ 
	position: absolute; 
	background-color: rgba(0,0,0,0.4); 
	top: 0; 
	width: 100%; 
	height: 100%; 
	z-index: 1; 
}
.hours-text{ 
	position: absolute; 
	top: 50%; 
	left: 50%; 
	transform: translate(-50%,-50%); 
	text-align: center; 
	color: white; 
	z-index: 2; 
	width: 80%; 
}

.hours-text p{
	width: 100%; 
	font-weight: 500; 
	font-size: 14pt; 
	margin-bottom: 30px; 
}

.hours-text span{ 
	color: rgba(252,186,27,1.00); 
	
}
.underline-hours{ 
	border-bottom: solid 3px white; 
	margin-bottom: 10px; 
}

/* Menu section*----------*/ 
.menu-section{ 
	position: relative; 
}

.menu-section picture{ 
	object-fit: cover; 
	width: 100%; 
}

.menu-flex{ 
	display: flex; 
	align-items: center;
	justify-content: center; 
	flex-wrap: wrap; 
	width: 100%; 
	position: absolute; 
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%); 
}
.menu-flex h3{ 
	color: white; 
	text-align: center; 
	margin-bottom: 20px; 
}
.menu-flex img{ 
	border-radius: 50%; 
	display: block; 
	margin: 0 40px; 
	border: solid 4px white; 
}

.menu-flex img:hover{ 
	transform: scale(1.1,1.1);
	transition-timing-function:linear; 
	transition-duration: 1s; 
}
/*menu-------------*/ 
#menu-section { 
	padding: 100px 0; 
}
#menu-section h6{ 
	text-align: center; 
	margin-bottom: 20px; 
}

.menus{ 
	display: flex; 
	justify-content: center; 
	flex-wrap: wrap; 
}
.menus div{ 
	margin: 20px 20px; 
	width: 300px; 
	height: 300px; 
	background-size: cover; 
	background-position: center; 
	border-radius: 5px; 
	position: relative; 
}
.menus div:nth-child(1){
	background-image: url("photos/takeaway-menu-flex.jpg");
}
.menus div:nth-child(2){
	background-image: url("photos/lunch-menu.jpg"); 
}
.menus div:nth-child(3){ 
	background-image: url("photos/dine-in-menu.jpg"); 
}

.menus a{ 
	text-align: center; 
	position: absolute; 
	width: 150px; 
	bottom: 20px; 
	left: 50%; 
	transform: translateX(-50%); 
	text-decoration: none; 
	color: white; 
	padding: 10px 0; 
	border-radius: 3px; 
	background-color: rgba(252,186,27,1.00); 
}
.menus a:hover{ 
	background-color: rgba(255,180,0,1.00); 
}
/*-----About Us----------*/ 
.about-us-background{ 
	background-image: url("photos/about-us-background1600px.jpg"); 
	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: center; 
	background-attachment: fixed; 
	width: 100%; 
	padding: 200px 0; 
}

.about-us-background h6{ 
	color: white; 
	text-align: center; 
	font-size: 50pt; 
}
.about-us-text { 
	margin: 100px auto; 
	text-align: left; 
	width: 80%; 
	max-width: 800px; 
}
.about-us-text h6{ 
	margin-bottom: 30px; 
}

/*---About khem Family--------*/

.khem-family{ 
	display: flex; 
	justify-content:flex-end; 
	width: 100%; 
	background-image: url("photos/khem-family1600px.jpg"); 
	background-size: cover; 
	background-repeat: no-repeat; 
	background-position: center; 
	padding: 300px 0;
	background-attachment: fixed; 
}
.khem-family div{ 
	width:600px;
	margin-right: 40px;  color:rgba(110,33,22,1.00);  
	text-align: left;  
}

.khem-family p{ 
	color: black; 
	margin-top: 10px; 
	
}
/* book now section--------------*/ 
.book-now-section{ 
	display: flex; 
	flex-direction:column; 
	justify-content: center; 
	align-items: center; 
	padding: 100px 0; 

}
.book-now-section h6 { 
	width: 100%; 
	text-align: center; 
	margin-bottom: 20px; 
}
.book-now-section h3{ 
	background-color: #FFE590;
	text-align: center; 
	padding: 30px 20px;
	min-width: 320px;
	margin: 0 auto;
	display: block;
}
form{ 
width: 50%; 
}
form input{
	display: block;
	width: 100%; 
	height: 40px; 
	margin-bottom: 20px; 
	border-radius: 5px; 
	border: solid 1px rgba(188,188,188,1.00);
	color: rgba(93,93,93,1.00); 
	margin-top: 5px; 
}
form label{ 
	color: rgba(93,93,93,1.00); 
}
form p{ 
	margin-top: -20px; 
	color: rgba(110,33,22,1.00); 
}

form button{ 
	display: block; 
	margin: 10px auto; 
	padding: 10px 40px; 
	border: none; 
	background-color: rgba(252,186,27,1.00); 
	border-radius: 3px; 
	color: white; 
	font-size: 12pt; 
}
form button:hover{ 
	background-color: rgba(255,180,0,1.00); 
}

/*faq0-section-----------*/ 
.faq-section{ 
	background-color: rgba(254,214,118,1.00);
	padding: 100px 0 20px 0; 
	position: relative; 
}
.faq-section h6{ 
	text-align: center; 
	margin-bottom: 50px; 
}

.faq-section div:nth-child(3), .faq-second-part { 
	width: 70%; 
	min-width: 330px;
	max-width: 800px; 
	margin: 0 auto; 
}
.faq-section p{ 
	margin-bottom: 20px; 
}

.more-faq{ 
	position: absolute; 
	width: 100%; 
	bottom: -26px; 
	background-color: rgba(255,184,13,1.00); 
}
.more-faq svg{ 
	position: absolute;
	top: 3px;
	left: 55px; 
}
.more-faq h5{ 
	position: relative; 
	left: 45%; 
	transform: translateY(-45%,-45%); 
	font-weight: 400;	
}
/*REview Section-------------*/ 
#review-section{ 
	padding: 150px 0;  
}

.reviews{ 
	margin: 0 auto; 
	width: 70%; 
	padding: 40px; 
	text-align: center; 
}

.reviews .underline{ 
	display: block; 
	margin: 0 auto; 
}

.review-text{ 
	margin: 0px 0 0 0; 
	display: grid; 
	grid-template-columns: 1fr 9fr 1fr; 
	grid-template-rows:  200px; 
	justify-content:center; 
	align-items: center; 	
}

#review-paragraph{ 
	font-style: italic;
	font-size: 14pt; 
}

#review-paragraph span{ 
	display: block; 
	text-align: right; 
	margin-top: 10px; 
	font-family: "Roboto Black", sans-serif; 
	font-weight: 900; 
	font-size: 16pt;
	font-style: normal; 
	
}

#review-second-svg{
	transform: rotate(180deg);
	width: 40px; 
	height: 50px; 
}

#review-first-svg{ 
	width: 40px; 
	height: 50px;
}

.arrow rect{ 
	stroke: #fd6a59;
}

.arrow .Path_198{ 
	stroke:  #fd6a59;
}

.arrow:hover rect{ 
 fill: #fd6a59;
}
.arrow:hover .Path_198{ 
	stroke: #ffffff;
}
/*youtube-video -------*/ 
.youtube-video{ 
	padding: 0 0 10vh 0; 
}
.youtube-video iframe{ 
	display: block; 
	margin: 0 auto; 
	width: 80%; 
	height: 500px;
	box-shadow: 10px 10px 4px gray; 
}
/*newsletter section---------*/ 
.newsletter-section{ 
	background-image: url("photos/newsletter1600px.jpg"); 
	padding: 300px 0;
	background-attachment: fixed; 
	background-size: cover; 
	background-repeat: no-repeat; 
	display: flex; 
	justify-content: flex-end; 
}
.newsletter-text{ 
	width: 33%; 
	min-width: 320px;
	background-color: rgba(110,33,22,1.00); 
	padding: 50px 0 50px 50px; 
}
.newsletter-text h6{ 
	color: white; 
	font-weight: 900; 
	margin-bottom: 10px; 
}
.newsletter-text h6 span{ 
	color: rgba(252,186,27,1.00); 
}
.newsletter-text p{ 
	color: white; 
	letter-spacing: 2px; 
	margin-bottom: 20px; 
}
.newsletter-text a{ 
	background-color: rgba(252,186,27,1.00); 
	color: white; 
	padding: 10px 30px; 
	border-radius: 3px; 
	text-decoration: none; 
}

.newsletter-text a:hover{ 
	background-color: rgba(247,174,0,1.00); 
}

/*icon section-------*/ 
.social-media-section{ 
	display: flex; 
	justify-content: center; 
	flex-wrap: wrap; 
	padding: 20px 0; 
}
.social-media-section img{ 
	display: block; 
	margin: 0 10px; 
}

/*---------------footer--------*/ 
.footer{ 
	background-color: rgba(29,29,29,1.00); 
	display: flex; 
	flex-direction: row; 
	flex-wrap: wrap; 
	justify-content: center; 
	padding: 100px 0; 
}
.footer h6{ 
	color: white; 
	margin-bottom: 20px; 
}
.footer > div{ 
	margin: 10px 40px; 
	width: 360px; 
}
.contact{
\
}
.contact div{ 
	margin-top: 15px; 
}

.contact div a{ 
	position: relative; 
	color:rgba(171,171,171,1.00); 
	font-family: "Roboto", sans-serif; 
	letter-spacing: 1px; 
	text-decoration: none;
	padding-left: 35px; 
	font-weight: 300; 
}

.contact div a:hover{ 
	color: rgba(254,192,0,1.00); 
}
.contact div a svg{ 
	position: absolute; 
	left: 2px; 
	bottom: 1px;
}

/*icon stying*/ 
.st0{ 
 fill: #FD6A59; 
}
.st0:hover{ 
	fill:#FDC200;
}


.subscribe{ 
	width: 400px; 
}
.subscribe form input{ 
	margin-top: -10px; 
	background-color: rgba(29,29,29,1.00); 
	border: solid 1px rgba(171,171,171,1.00); 
	width: 360px;  
}
.subscribe input[type=text], input[type=email]{ 
	color: white; 
}

.subscribe form button{ 
	margin-left: 0; 
	margin-top: -5px; 
}
.subscribe h3{ 
	background-color: #FCD26A; 
	padding: 40px 20px; 
}



/*two specials ------------------------------*/ 

.two-special{ 
	padding: 100px 0; 
	margin: 0 auto; 
	width: 95%; 
	display: grid; 
	grid-template-columns:  1fr 1fr 1fr; 
	grid-template-areas: 
		"dinner-special-image dinner-special-text dinner-special-text"
		"lunch-special-text lunch-special-image lunch-special-image";
}

.dinner-special-image{ 
	grid-area: dinner-special-image; 
	background-image: url("photos/dinner-special-papamoa-east.jpg");
	width: 100%; 
	height: auto; 
}

.dinner-special-text{ 
	
grid-area: dinner-special-text; 
	padding: 60px 10px 60px 40px;
 	filter: saturate(120%); 
	background-color: rgba(199,154,71,1.00); 
	border-top-right-radius: 150px; 
}

.lunch-special-image{  
	grid-area: lunch-special-image; 
	background-image: url("photos/lunch-special.jpg");
	background-size: cover; 
	background-position: center; 
	width: 100%; 
	height: auto; 
}

.lunch-special-text{
	text-align: right; 
	padding: 80px 40px 80px 10px; 
 	filter: saturate(120%); 
	background-color: rgba(199,154,71,1.00); 
	border-bottom-left-radius: 150px;
}

.two-special h4{ 
	color: white; 
	font-size: 25pt; 
	font-weight: 100; 
	font-family: Roboto-black, sans-serif; 
	letter-spacing: 2px; 
}
.two-special p{ 
	color: white; 
}
.two-special span{ 
	color: white; 
	font-family: Roboto-Regular, sans-serif; 
	font-size: 14pt; }

.two-special h5{ 
	color: white; 
	font-size: 80pt;
	font-family: Roboto-Regular, sans-serif; 
	font-weight: 100; 
	}

/*specials----------------*/

.specials{ 
	background-image:url("photos/Restaurant-photo1600px.jpg"); 
	margin-top: 0px; 
	width: 100%; 
	position: relative; 
	background-attachment: fixed; 
	z-index: -2; 
	background-size:cover; 
	background-repeat: no-repeat; 
}
.special-overlay{ 
	background-color: black; 
	position: absolute; 
	width: 100%; 
	height: 100%; 
	opacity: 0.2; 
	z-index: -1; 
}
.specials h1{ 
	color: white; 
	text-align: center; 
	padding-top: 100px 0; 
	font-size: 45pt; 
}
.specials h4{ 
	font-size: 25pt; 
	font-weight: 400; 
	color: white; 
	text-align: center; 
	width: 80%;
	margin: 0 auto;
}
.specials p{ 
	text-align: center; 
	width: 80%; 
	margin-left: 13px; 
}
.special-grid{ 
	padding: 40px 0; 
	display: flex; 
	flex-wrap: wrap; 
	justify-content: center; 
}

.special-box{ 
	background-color: rgba(255,204,83,1.00); 
	width: 300px; 
	height: 360px; 
	margin: 10px; 
}


.specials h5 { 
	color:black; 
	font-size: 50pt;
	font-family: Roboto-Regular, sans-serif; 
	font-weight: 100;
	text-align: center; 
	padding-top: 40px; 
	filter: saturate(150%); 
}

.specials h3{ 
	color:rgba(0,6,47,1.00); 
	filter: saturate(150%); 
	margin-left: 20px; 
	
}
.specials ul{ 
	color:rgba(110,33,22,1.00);
	margin: 5px 10px 0 40px; 
	font-family: Roboto-Light, Roboto-Medium, sans-serif; 
}
/*scroll up--------*/
.scroll-up-arrow svg{
	transform: rotateX(180deg); 
	position: fixed; 
	right: 40px; 
	bottom: 60px;
	z-index: 10; 
}

/*phone bottom------*/ 
.phone-bottom a{ 
	background-color: #4BDA64; 
	display: none;
	text-align: center;
	text-decoration: none; 
	color: white; 
	padding: 15px 0; 
	position: fixed; 
	bottom: 0; 
	right: 0; 
	left: 0;
}



/*copyright-----------------*/ 
.copyright{ 
background-color:black;
padding: 7px 0; }

.copyright p{ 
color: white; 
	text-align: center; 
}

.copyright a{
text-decoration: none; 
color: white; 
}
.copyright a:hover{ 
	color: rgba(254,192,0,1.00); 
}




